<main>

    <div class="home">
        <br>
        <h4 class="center"> Gestão </h4>
        <br>
        <div class="row container">

            <div class="col m6 s12 tooltipped" data-position="top" data-delay="100" data-tooltip="Gerenciar cadastros">
                <a href="cadastro_epi.php">
                    <div class="card-panel area-psicologo center">
                        <i class="fas fa-plus fa-5x" aria-hidden="true"></i>
                        <h5>Cadastros</h5>
                    </div>
                </a>
            </div>

            <div class="col m6 s12 tooltipped" data-position="top" data-delay="100" data-tooltip="Localizar animais perdidos">
                <a href="requisicao/index.php">
                    <div class="card-panel area-psicologo center">
                        <i class="fas fa-map-marker-alt fa-5x" aria-hidden="true"></i>
                        <h5>Localizar animal</h5>
                    </div>
                </a>
            </div>

            <div class="col m6 s12 tooltipped" data-position="top" data-delay="100" data-tooltip="Identificar interesados em adoção">
                <a href="ficha_epi/">
                    <div class="card-panel area-psicologo center">
                        <i class="fas fa-eye fa-5x" aria-hidden="true"></i>
                        <h5>Ver interasados em adoção</h5>
                    </div>
                </a>
            </div>

            <div class="col m6 s12 tooltipped" data-position="top" data-delay="100" data-tooltip="Gestão de funcionários">
                <a href="ficha_epi/">
                    <div class="card-panel area-psicologo center">
                        <i class="fas fa-users fa-5x" aria-hidden="true"></i>
                        <h5>Gestão de funcionários</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>

</main>